.textcolor {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    width: 100vw;
    flex-wrap: wrap;
}

.textcolor-wrapper {
    padding: 0 !important;
    margin: 0 !important;
}
.text {
    background-color: #E8E8E8;
    padding: 76px;
    width: 100%;
    /* margin: 26px 0 0 26px; */
}

.inner-text {
    font-size: 28px;
    color: #303030;
    font-weight: normal;
    font-family: 'roboto-condensed';
    display: flex;
    justify-content: center;
}